*.cf
/*.7z
epf.УправляемыеФормы
1cv8.conf 
prepare_zip.bat 
list_zip.txt 
.scannerwork 
sonar*
push.bat
push-post.sh 
/*.vbs
Video/
*.pdf
sonar.bat
*.q9*
build/
*.log
.cursor
${app.cache.fullPath}/*

.claude/settings.local.json
*.gz
1cv8.conf_v3